{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}" type="text/css">
<div class="logo" style="text-align: center; margin-top: 20px;">
    <a href="{% url 'single_pages:landing'%}" style="color: #333; text-decoration: none;">
        <h2><strong>LUCY</strong></h2>
    </a>
</div>
<div style="width: 450px; margin: 0 auto; padding 10px; margin-top: 70px; ">
    <h2><strong>新規会員登録</strong></h2>
    <hr/>
  
    <form action = "" method = "POST">
        {% csrf_token %}
        <div id="div_id_email" class="form-group">
            <label for="id_email" class=" requiredField">メール<span class="asteriskField">*</span></label>
            <div>
                <input type="email" name="email" maxlength="255" class="emailinput form-control" required="" id="id_email">
            </div>
        </div>
        <div id="div_id_name" class="form-group">
            <label for="id_name" class=" requiredField">名前<span class="asteriskField">*</span></label> 
            <div>
                <input type="text" name="name" maxlength="24" class="textinput textInput form-control" required="" id="id_name">
            </div>
        </div>
        <div id="div_id_nickname" class="form-group">
             <label for="id_nickname" class=" requiredField">ニックネーム<span class="asteriskField">*</span></label>
             <div>
                <input type="text" name="nickname" maxlength="24" class="textinput textInput form-control" required="" id="id_nickname">
            </div>
        </div>
        <div id="div_id_address" class="form-group">
            <label for="id_address" class=" requiredField">住所<span class="asteriskField">*</span></label>
            <div>
                <input type="text" name="address" maxlength="255" class="textinput textInput form-control" required="" id="id_address">
            </div>
        </div>
        <div id="div_id_phone" class="form-group">
            <label for="id_phone" class=" requiredField">連絡先<span class="asteriskField">*</span></label> 
            <div>
                <input type="text" name="phone" maxlength="16" class="textinput textInput form-control" required="" id="id_phone">
            </div>
        </div>
        <div id="div_id_password1" class="form-group">
            <label for="id_password1" class=" requiredField">パスワード<span class="asteriskField">*</span></label>
            <div>
                <input type="password" name="password1" class="textinput textInput form-control" required="" id="id_password1">
            </div> 
        </div>
        <div id="div_id_password2" class="form-group"> 
            <label for="id_password2" class=" requiredField">パスワード確認<span class="asteriskField">*</span></label> 
            <div>
                <input type="password" name="password2" class="textinput textInput form-control" required="" id="id_password2">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 450px;">会員登録</button>
    </form>
    <hr />
    <div class="auth__alternative">
        <p>すでにアカウントをお持ちですか？</p>
        <a href="{% url 'account:login' %}">ログイン</a>
    </div>
</div>

<script src="{% static 'libs/js/bootstrap.min.js' %}" ></script>