{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LUCY</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">
    

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/css/style_star.css' %}">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}" type="text/css">
</head>
<body>

{% include 'base/nav_jp.html' %}

{%block index %}
{% endblock %}
<div class="container">
    {% block main_area %}
    {% endblock %}
</div>


 
{% include 'base/footer.html' %}
{% include 'base/search.html' %}


<!-- Js Plugins -->
<script src="{% static 'libs/js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'libs/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'libs/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'libs/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'libs/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'libs/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'libs/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'libs/js/mixitup.min.js' %}"></script>
<script src="{% static 'libs/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'libs/js/main.js' %}"></script>
<!-- custom js -->
<script src="{% static 'custom/js/reg.js' %}"></script>
<script src="{% static 'custom/js/valid.js' %}"></script>

<!-- javascript for review -->
{% block review_script %}{% endblock %}
<!--// javascript for review -->
<!-- javascript for inquiry -->
{% block inquiry_script %}{% endblock %}
<!--// javascript for inquiry -->
<!-- javascript for review_jp -->
{% block review_script_jp %}{% endblock %}
<!--// javascript for review_jp -->
<!-- javascript for inquiry_jp -->
{% block inquiry_script_jp %}{% endblock %}
<!--// javascript for inquiry_jp -->


{% block script %}{% endblock %}
</body>
</html>