<!-- 페이징 -->
<ul class="pagination justify-content-center mt-5">
    <!-- 이전 페이지 -->
    {% if product_list.has_previous %}<!-- 이전 페이지 있음 -->
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}">이전</a>
        </li>
    {% else %}<!-- 이전 페이지 없음 -->
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
    {% endif %}

    <!-- 페이지 리스트 -->
    {% for page_number in product_list.paginator.page_range %}
        <!-- 현재 페이지를 기준으로 좌우 5개씩 보이도록 처리 -->
        {% if page_number >= product_list.number|add:-5 and page_number <= product_list.number|add:5 %}
            {% if page_number == product_list.number %}<!-- 현재 페이지 번호와 같음 -->
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}<!-- 현재 페이지 번호와 다름 -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    <!-- 다음 페이지 -->
    {% if product_list.has_next %}<!-- 다음 페이지 있음 -->
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}">다음</a>
        </li>
    {% else %}<!-- 다음 페이지 없음 -->
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
    {% endif %}
</ul>
<!--// 페이징 -->