{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block main_area %}
    <script src="{% static 'libs/js/jquery-3.6.3.min.js' %}"></script>
     {% include 'base/error.html' %}
    <div class="container-fluid py-5">
        <div class="row px-xl-5 product_data">
            <div class="col-lg-5 pb-5">
                <div id="product" class="slide" data-ride="">
                    <div class="inner border">
                        <div class="item active">
                            <img class="w-100 h-100" src={{ product.signature_img.url }} alt="イメージ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{ product.title }}</h3>
                <div class="d-flex mb-3">
                    <div class="text-warning mr-2">
                        {% if product.average_review %}
                            <div class="rating-star">
                                <span style="margin-right: 0.5rem;">
                                    <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o{% endif %}"></i>
                                </span>
                                <span style="color: #787878;">({{ product.count_review }})</span>
                            </div>
                        {% else %}
                            <div class="rating-star">
                                <span style="margin-right: 0.5rem;">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                </span>
                                <span style="color: #787878;">({{ product.count_review }})</span>
                            </div>
                        {% endif %}
                        <small class="ml-1" style="color:gray" >{{ product.average_review }}点</small>
                    </div>
                    <small class="pt-1 ml-1" style="color:#007bff; font-weight: 800;"> レビュー {{ product.review_set.all|length }}件</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">¥{{ product.price | intcomma}}</h3>
                <p class="mb-4">{{ product.brand}}</p>

                <form method="POST" action="/shop/{{product.id}}/add_cart/">
                    <div class="d-flex align-items-center mb-5 pt-2" >
                        {% csrf_token %}
                        <input type="hidden" value="{{product.id}}" class="prod_id">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus" id="decrease">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" name="quantity" class="form-control qty-input text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus" id="increase">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <script>
                                    $(document).ready(function() {
                                        $('.btn-minus').click(function(e) {
                                            e.preventDefault();
                                            var inc_value = $(this).closest('.product_data').find('.qty-input').val();
                                            var value = parseInt(inc_value, 10);
                                            value = isNaN(value) ? 0: value;
                                            if(value > 1) {
                                                value--;
                                                $(this).closest('.product_data').find('.qty-input').val(value);
                                            }

                                        });
                                        $('.btn-plus').click(function(e) {
                                            e.preventDefault();
                                            var inc_value = $(this).closest('.product_data').find('.qty-input').val();
                                            var value = parseInt(inc_value, 10);
                                            value = isNaN(value) ? 0: value;
                                            if(value < 10) {
                                                value++;
                                                $(this).closest('.product_data').find('.qty-input').val(value);
                                            }
                                        });
                                    });
                                </script> 
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart"></i>カートに入れる</button>
                        {% else %}
                            <a href="{% url 'account:login' %}" class="btn btn-primary px-3" style="color: #fff;"><i class="fa fa-shopping-cart"></i>カートに入れる</a>
                        {% endif %}
                </form>
                <div class="d-flex pt-2" style="margin-left: 30px;">
                    {% if user.is_authenticated %}
                        {% if like %}
                            <a href="{% url 'shop:unlike_page' product.pk %}" style="color: red;">
                                <i class="fa fa-heart fa-2x"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'shop:like_page' product.pk %}" style="color: #ccc;">
                                <i class="fa fa-heart-o fa-2x"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'account:login' %}" style="color: #ccc;">
                            <i class="fa fa-heart-o fa-2x"></i>
                        </a>
                    {% endif %}
                    <p class="text-dark font-weight-medium mb-0 mr-2 ml-3" style="font-size: 18px; margin-top: 3px;">
                        {{ like_count }}
                    </p>
                </div>

                <div class="d-inline-flex">

                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1"><h6>商品詳細</h6></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2"><h6>カスタマーレビュー</h6></a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3"><h6>商品お問い合わせ</h6></a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">商品詳細</h4>
                    {{ product.info | linebreaks }}
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <div class="row">
                        <div class="col-md-6">
                            {% if product.review_set.exists %}
                                <h4 class="mb-4">{{ product.title }} カスタマーレビュー {{ product.review_set.all|length }}件</h4>
                            {% endif %}
                            <div id="review_list"></div>
                        </div>
                        {% include 'base/modal_jp.html'%}
                        <div class="review-form col-md-6">
                            <h4 class="mb-4">レビューをお願いします。</h4>
                            {% if user.is_authenticated %}
                                <div id="divRateForm">
                                    <h3 id="rateDone" class="{% if not review %}d-none{% endif %}">すでに登録しました。</h3>
                                    <form id="rateForm" class="{% if review %}d-none{% endif %}">
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">評価 * :</p>
                                            <div class="form-group rate">
                                                <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                                                <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                                                <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                                                <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                                                <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                                                <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                                            </div>
                                        </div>
                                        <div class="form-group-review">
                                            <label for="content">カスタマーレビュー *</label>
                                            <textarea name="content" cols="30" rows="5" class="review-content-field form-control"></textarea>
                                        </div>
                                        <div class="form-group-review-button mb-0">
                                            <button type="button" class="btn btn-primary px-3 d-none" id="btnRateFormCreate">登録</button>
                                            <button type="button" class="btn btn-warning px-3 d-none" id="btnRateFormUpdate" data-review-id="">修正</button>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">ログインが必要となります。</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <div class="row">
                        <div class="col-md-6">
                            {% if product.inquiry_set.exists %}
                                <h4 class="mb-4">{{ product.title }} お問い合わせ {{ product.inquiry_set.all|length }}件</h4>
                            {% endif %}
                            <div id="inquiry_list"></div>
                        </div>
                        {% include 'base/modal_jp.html'%}
                        <div class="inquiry-form col-md-6">
                            <h4 class="mb-4">お問い合わせください。</h4>
                            {% if user.is_authenticated %}
                                <div id="divInquiryForm">
                                    <h6 id="inquiryDone" class="{% if not inquiry %}d-none{% endif %}">すでに登録したお問い合わせが存在します。<p>答えの有無を確認した後、追加のお問い合わせを残してください。</p> </h6>
                                    <form id="inquiryForm" class="{% if inquiry %}d-none{% endif %}">
                                        <div class="d-flex my-3">
                                        </div>
                                        <div class="form-group-inquiry">
                                            <label for="content">商品お問い合わせ *</label>
                                            <textarea name="content" cols="30" rows="5" class="inquiry-content-field form-control"></textarea>
                                        </div>
                                        <div class="form-group-inquiry-button mb-0">
                                            <button type="button" class="btn btn-primary px-3 d-none" id="btnInquiryFormCreate">登録</button>
                                            <button type="button" class="btn btn-warning px-3 d-none" id="btnInquiryFormUpdate" data-inquiry-id="">修正</button>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">ログインが必要となります。</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- javascript for review_jp -->
{% block review_script_jp %}
    {% include 'base/review_script_jp.html' %}
{% endblock %}
<!--// javascript for review_jp -->

<!-- javascript for inquiry_jp -->
{% block inquiry_script_jp %}
    {% include 'base/inquiry_script_jp.html' %}
{% endblock %}
<!--// javascript for inquiry_jp -->

