{% extends 'base/base_shop_list.html' %}
{% load static %}
{% load humanize %}
{% block main_area %}

{% if not request.GET.q %}
<script>
    alert('検索するキーワードがいません')
    history.back();
</script>

{% endif %}
<div class="col-lg-3">
    <div class="shop__sidebar">
        <div class="shop__sidebar__search">
            <form action="{% url 'shop:search' %}">
                <input name="q" type="text" id="search-input" placeholder="キーワードから探す…">
                <button type="submit"><span class="icon_search"></span></button>
            </form>
        </div>
        <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseOne">カテゴリー</a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="shop__sidebar__categories">
                                <ul class="nice-scroll">
                                    {% for category in categories %}
                                    <li><a href="{{ category.get_absolute_url }}">{{ category }} ({{category.product_set.count}})</a></li>
                                    {% endfor %}
                                    <li><a href="/shop/category/no_category/">その他 ({{no_category_product_count}})</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo">ブランド</a>
                    </div>
                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="shop__sidebar__brand">
                                <ul>
                                    {% for brand in brands %}
                                    <li><a href="{{ brand.get_absolute_url }}">{{brand}} ({{ brand.product_set.count }})</a></li>
                                    {% endfor %}
                                    <li><a href="/shop/brand/no_brand/">無印良品({{ no_brand_product_count }})</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9">
    <h3 class="mb-5 text-primary font-weight-bold"><small class="text-dark">キーワード</small>'{{request.GET.q}}'</h3>
    <div class="row">
    {% if data %}
        {% for product in data %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <img src="{{ product.signature_img.url }}" class="card-img-top" style=" height: 19rem; object-fit: cover; padding: 16px;">
                </div>
            </div>
            <div class="card-body mb-2">
                <h6 class="card-title">{{product.title | truncatechars:17}}<br />
                    <small class="text-muted">{{product.brand}}</small></h6>
                <h5 class="mb-3">¥{{ product.price | intcomma}}</h5>
                <a href="{{product.get_absolute_url }}" class="btn btn-primary">アイテム詳細を見る</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="mt-5" style="margin: auto;">
        <i class="fa fa-exclamation-circle" style="font-size: 120px; margin-top: 4rem; margin-left: 10.4rem; color: gray"></i>
        <h5 class="ml-4 mt-5 text-muted">
            条件に一致する商品は見つかりませんでした。
        </h5>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}