{% extends 'base/base_shop_list.html' %}
{% load static %}
{% load humanize %}
{% block main_area %}

{% if not request.GET.q %}
<script>
    alert('검색어를 입력해주세요')
    history.back();
</script>

{% endif %}
<div class="col-lg-3">
    <div class="shop__sidebar">
        <div class="shop__sidebar__search">
            <form action="{% url 'shop:search' %}">
                <input name="q" type="text" id="search-input" placeholder="검색어를 입력해주세요....">
                <button type="submit"><span class="icon_search"></span></button>
            </form>
        </div>
        <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="shop__sidebar__categories">
                                <ul class="nice-scroll">
                                    {% for category in categories %}
                                    <li><a href="{{ category.get_absolute_url }}">{{ category }} ({{category.product_set.count}})</a></li>
                                    {% endfor %}
                                    <li><a href="/shop/category/no_category/">Etc ({{no_category_product_count}})</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                    </div>
                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="shop__sidebar__brand">
                                <ul>
                                    {% for brand in brands %}
                                    <li><a href="{{ brand.get_absolute_url }}">{{brand}} ({{ brand.product_set.count }})</a></li>
                                    {% endfor %}
                                    <li><a href="/shop/brand/no_brand/">NoBrand ({{ no_brand_product_count }})</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9">
    <h3 class="mb-5 text-primary font-weight-bold">'{{request.GET.q}}' <small class="text-dark">에 대한 검색 결과</small></h3>
    <div class="row">
    {% if data %}
        {% for product in data %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="card">
                    <a href="{{product.get_absolute_url}}">
                        <img src="{{product.signature_img.url}}" alt="" width=600 height=260 >
                     </a>
                     <div class="card-body">
                        <h6 class="card-title mt-2">{{product.title}}<br />
                            <small class="text-muted">{{product.brand}}</small></h6>
                            <div class="text-warning mr-2 mb-1">
                                {% if product.average_review %}
                                    <div class="rating-star" >
                                        <span style="margin-right: 0.5rem;">
                                            <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o{% endif %}"></i>
                                            <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o{% endif %}"></i>
                                            <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o{% endif %}"></i>
                                            <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o{% endif %}"></i>
                                            <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o{% endif %}"></i>
                                        </span>
                                        <span style="color: #787878;">({{ product.count_review }})</span>
                                    </div>
                                {% else %}
                                    <div class="rating-star">
                                        <span style="margin-right: 0.5rem;">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        </span>
                                        <span style="color: #787878;">({{ product.count_review }})</span>
                                    </div>
                                {% endif %}
                                <small class="ml-1" style="color:gray" >{{ product.average_review }}점</small>
                            </div>
                        <h5 class="mb-3">{{ product.price | intcomma}}원</h5>
                     </div>
                </div>
             </div>
        {% endfor %}
    {% else %}
    <div class="mt-5" style="margin: auto;">
        <i class="fa fa-exclamation-circle" style="font-size: 120px; margin-top: 4rem; margin-left: 10.4rem; color: gray"></i>
        <h5 class="ml-4 mt-5 text-muted">
            판매 중인 상품이 없습니다. 검색어를 변경해 보세요.
        </h5>
    </div>
   
    {% endif %}
    </div>
</div>
{% endblock %}